@media screen and (min-width: 600px){
    .head > a{
        display: block;
    }

    .hamburger{
        display: none;
    }

    .menu{
        display: none;
    }

    h1{
        margin-right: auto;
        margin-left: 15px;
    }

    .head{
        justify-content: flex-start;
        padding: 15px 0 15px 0;
    }

    .head > a{
        margin: 0 15px 0 15px;
        transition: 0.3s;
        font-family: 'Playfair Display', serif;
        font-weight: 500;
    }

    .head > a::after{
        content: '';
        display: block;
        background-color: rgb(0, 109, 109);
        width: 100%;
        height: 5px;
        transition: 0.3s;
        transform: scale(0);
    }
    
    .head > a:hover::after{
        transform: scale(0.3);
    }

    .soust{
        transition: 0.3s;
        font-size: 18pt;
    }

    .garde:hover > p{
        color: rgb(0, 109, 109);
    }

    .photo{
        width: 280px;
    }

    .slider{
        margin: 0 100px 0 100px;
    }

}